.albumCard {
  max-width: unset !important;
  height: 100%;

  .cardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .v-img {
    margin: 0.75rem;
    margin-bottom: 0;
    border-radius: rem(4);
    height: rem(200);
    max-height: rem(200);
  }
  .v-card-item {
    display: flex;
    align-items: flex-start;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .v-card-item__content {
    .v-card-subtitle {
      font-weight: 700;
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }
  }
  .v-card-text {
    align-items: self-end;
    display: flex;
  }

  .iconList {
    font-weight: 700;
    .v-col {
      display: flex;
      align-items: center;
    }
    i {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }
}
.albumCardList {
  &.v-row {
    margin-top: 0 !important;
  }
  &.list {
    display: block;
    > div {
      max-width: unset;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border: none;
      }
    }
    .cardContainer {
      flex-direction: row;
      background-color: unset;
    }
    @include screen('tablet') {
      .cardContainer {
        display: block;
      }
      .albumCard {
        .cardContainer {
          .v-img {
            margin: 0 0 1rem 0;
            width: 100%;
            max-width: inherit;
            aspect-ratio: 4 / 3;
            height: auto;
            max-height: unset;
          }
        }
      }
      .v-card-item {
        padding: 0 0 1rem 0;
      }
    }
    .v-img {
      max-width: rem(200);
      height: 150px;
      width: rem(200);
    }
    .v-card {
      display: block;
      box-shadow: unset;
      background: unset;
      padding: 0.5rem;
    }
    .albumCard {
      .v-img {
        margin: 0 0.5rem 0 0;
      }
      .v-card-item {
        padding-top: 0;
      }
      .iconList {
        justify-content: end;
        .v-col {
          flex-grow: unset;
        }
      }
    }
    .v-card-text {
      padding-bottom: 0;
    }
  }
}
.mediaCardList {
  .v-col {
    flex: 0 0 10%;
    max-width: 10%;
    .v-img {
      height: 80px;
    }
  }
}
.photoCard {
  width: 9.5%;
  margin: 0.25%;

  &.v-card {
    width: 100%;
  }
  position: relative;
  .checkbox {
    z-index: 1;
    top: -0.5rem;
    position: absolute;
  }
  .img {
    position: relative;
    margin: 0.25rem;

    label {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 1;
      z-index: 1;
    }
    .v-img {
      min-height: 80px;
    }
  }
  &.v-card {
    .v-card-title {
      line-height: 1rem;
      font-size: 0.8rem;
    }
  }
  .v-card-title {
    cursor: pointer;
    font-size: 1em;
  }
  .info {
    .v-card-item {
      padding: 0;
      margin: 0.5rem;
    }
  }
}
.dialogCard {
  .v-card-title {
    font-size: 1.6rem;
    font-weight: 800;
    color: $primary;
  }
  .v-radio-group {
    .v-input {
      width: 160px;
      flex: none;
    }
  }
  .editBtn {
    top: rem(24);
    position: absolute;
    right: rem(24);
    .v-btn__content {
      font-size: 1rem;
    }
  }
  .btn {
    min-width: 120px !important;
  }
  .info,
  .infoList {
    font-weight: 400;
    margin-bottom: 0.25rem;
  }
  .paymentList {
    .v-list-item {
      min-height: 4rem;
      border-bottom: 1px solid lighten($gray3, 35%);
    }
  }
}
.v-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  border-radius: 1rem !important;
  .v-card-text {
    font-size: 1rem;
  }
}
.commentCard {
  margin-bottom: 2rem;
  .v-textarea {
    .v-field__input {
      mask-image: none;
      border-radius: 1rem;
      background-color: darken(#f4f4f3, 3%) !important;
    }
  }
  .btnGrp {
    flex-wrap: wrap;
  }
}
.itemCard {
  margin-bottom: 2rem;
  .v-card-title {
    font-weight: bold;
    color: $primary;
  }
  .v-card-text {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        font-weight: bold;
        margin-bottom: 0.5rem;
        span {
          color: $grayText;
          display: inline-block;
          padding-right: 1rem;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 2px;
            top: 3px;
            right: 0.5rem;
            height: 1rem;
            background-color: #ccc;
          }
        }
        @media screen and (max-width: 1680px) {
          margin-bottom: 0.75rem;
          span {
            display: block;
            &::after {
              display: none;
            }
          }
        }
        @include screen('desktop') {
          width: 100%;
          margin-bottom: 0.75rem;
          span {
            display: inline-block;
            &::after {
              display: block;
            }
          }
        }
        @include screen('notebook') {
          margin-bottom: 0.5rem;
          width: 50%;
          span {
            display: inline-block;
            &::after {
              display: block;
            }
          }
        }
      }
    }
  }
  .btnGrp {
    flex-wrap: wrap !important;
    // @media screen and (max-width: 1400px) {
    //   .v-btn {
    //     width: 45%;

    //     margin-bottom: 0.5rem;
    //   }
    // }
    // @include screen('notebook') {
    //   .v-btn {
    //     width: auto;
    //   }
    // }
  }
}
.logCard {
  @extend .itemCard;
  .v-card-text {
    ul {
      li {
        span {
          display: block;
          margin-bottom: 0;
          &::after {
            display: none;
          }
        }
        width: 100%;
      }
    }
  }
}
