// .formGrp {
//   label {
//     font-weight: 500;
//     margin: 0 0.5rem;
//   }
// }
input:-internal-autofill-selected {
  background: #fff !important;
}
.formGrp {
  label {
    font-weight: 500;
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    // display: inline-block;
    // font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  &.datePick {
    .tilde {
      display: flex;
      align-items: center;
      padding: 0;
      @include screen('mobile') {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  .necessary {
    color: $error;
    text-decoration: none;
  }
  .v-messages {
    font-size: 0.875rem;

    .v-messages__message {
      line-height: 1rem;
    }
  }
  .v-input:not(.v-checkbox) {
    border: none;
    .v-field {
      background: scale-color(#e5e5e3, $lightness: 60%); //lighten(#e5e5e3, 6%);

      border-radius: rem(20);
      // .v-field__field {
      //   height: rem(48);
      //   input {
      //     height: rem(48);
      //   }
      // }
      input {
        &::placeholder {
          color: #000;
          opacity: 1;
        }
      }
    }
    .v-field__input {
      // height: 3rem;
    }
    .v-field__prepend-inner {
      > .v-icon {
        color: #000;
        opacity: 1;
        font-size: rem(20);
        margin-right: 0.25rem;
      }
    }
    .v-field__outline {
      display: none;
    }
  }
  .v-switch {
    .v-selection-control {
      min-height: rem(40);
    }
  }
}
.v-field__field {
  &:has(input[type='file']) {
    .v-field__input {
      height: 40px;
      padding: 0.25rem 1rem;
      min-height: 2.2rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.formExpansion {
  margin-top: 0.5rem;
  .v-expansion-panel__shadow {
    box-shadow: none;
  }
  .v-expansion-panel-title {
    padding: 0.5rem;
    color: $frontPrimary;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .v-expansion-panel-text__wrapper {
    padding: 0px;
  }
  .v-expansion-panel--active > .v-expansion-panel-title:not(.v-expansion-panel-title--static) {
    min-height: 48px;
  }
}
